@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply font-montserrat;
    @apply h-screen;
  }
  body {
    @apply h-full;
  }
  #root {
    @apply h-full;
  }
  .App {
    @apply h-full;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
