@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply font-montserrat;
    @apply h-screen;
  }
  body {
    @apply h-screen;
  }
  #root {
    @apply h-screen;
  }
  .App {
    @apply h-screen;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
@layer components {
  .btn-submit {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}